.gameBoardContainer {
    display: flex;
    flex-direction: column; /* Change this from row to column */
    max-height: --webkit-fill-available;
    justify-content: space-between; /* Add this line */
    overflow: hidden;
}

.gameBoard {
    font-family: 'Arial, sans-serif';
    padding: 200px;
    max-width: 600px;
    margin: 0 auto;
    height: 100%; /* Add this line */
    flex-direction: column; /* Add this line */
    justify-content: space-between; /* Add this line */
}
  
  .letterSetContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px; /* adjust as needed */
  }
  
.letterSet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
.inputStyle {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
    font-size: 16px;
  }
  .inputContainer {
    display: flex;
    position: relative; /* Allows absolute positioning inside */
  }
  
  .inputStyle {
    flex-grow: 1; /* Takes up the majority of the space */
    /* Additional styling here */
  }
  
  .clearButton {
    position: absolute;
    right: 5px; /* Adjust based on your design */
    top: 50%;
    font-size: 19px;
    transform: translateY(-50%); /* Center vertically */
    background: transparent;
    border: none;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
    padding: 7px;
    border-radius: 10px;
    /* Adding shadow */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Horizontal offset, vertical offset, blur radius, color */
    color: black; /* Default text color */
  }
  
  /* Ensuring text color doesn't change upon interaction */
  .clearButton:hover,
  .clearButton:active,
  .clearButton:focus,
  .clearButton:visited {
    color: black; /* Maintains text color consistency */
    text-decoration: none; /* Optional: Removes underline from links */
  }
  
  

  .buttonContainer {
    display: flex;
    justify-content: space-between;
}

.buttonCommon {
  width: 40%; /* Change width to 40% */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold; /* Add this line to make the font bold */
}

.submitButton {
  background-color: #28a745;
}

.hintButton {
  background-color: #007bff; /* Change color if you want the hint button to look different */
}
  
.guessedWordsStyle {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .wordsToFind {
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
  }

.messageContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */
    /* animation: fadeOut 5s forwards; */
  }
  
  @keyframes fadeOut {
    0%, 93% { /* Adjust this percentage based on how long you want the message to stay visible */
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it appears above other content */
  }
  
  .modalContainer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    color: #333; /* Dark gray color for better readability */
  }
  
  .modalHeader h5, .modalContent, .modalFooter {
    color: #333; /* Ensures text in these elements is also dark gray for consistency */
  }
  
  .modalHeader, .modalFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .closeButton, .modalCloseButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
  }
  
  .modalContent {
    margin-top: 20px;
  }
  
  .letterSet.correct {
    background-color: green;
  }
  
  .letterSet.incorrect {
    background-color: red;
  }

  .hidden {
    display: none;
}
  .wordLengthSelection {
    padding-bottom: 20px;
}

@media (max-width: 768px) { /* adjust the value as needed */
    .mobile-spacing {
      margin-top: 40px; /* adjust the value as needed */
      width: 90vw;
    }
    .gameBoard {
        font-family: 'Arial, sans-serif';
        padding: 20px;
        max-width: 600px;
        margin: 0 auto;
        height: 100%; /* Add this line */
        flex-direction: column; /* Add this line */
        justify-content: space-between; /* Add this line */
    }
  }
