/* Base styles */
.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  background-color: #282C34;
  height: auto;
  padding: 0 20px;
}

.points-and-instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.points-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  color: white
}

.instruction-button {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(28, 48, 73);
  color: #ffffff;
  padding: 0;
  box-sizing: border-box;
  margin: 5px;
}

.emphasize {
  font-weight: bold;
  color: #ff0000;
}

.game-title {
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(28, 48, 73);
  padding: 20px;
  z-index: 1000;
  color: white;
  text-align: left;
  border: 10px solid #ff8c00;
  border-radius: 10px;
}

.points-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 10px;
}

.points {
  font-size: 1.9em;
  padding: 1px;
  text-transform: uppercase;
}

/* Mobile styles */
@media (max-width: 600px) {
  .NavBar {
    padding: 10px 20px;
  }

  .points {
    font-size: 1.3em;
    padding: 1px;
    text-transform: uppercase;
  }

  .points-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px 5px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 10px;
  }

  .points-and-instructions {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .modal {
    width: 100vw; /* Adjust width to ensure it fits the screen */
    max-height: 100vh; /* Limit modal height to not exceed viewport height */
    padding: 10px;
    font-size: 18px;
    overflow-y: auto; /* Enable vertical scrolling within the modal */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    line-height: 2vh;
  }

  p, h3 {
    font-size: 0.875rem;
  }
}

/* Desktop and larger devices */
@media (min-width: 601px) {
  .NavBar {
    padding: 0 40px;
  }

  .points-and-instructions {
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

  .instruction-button {
    top: 20px;
    margin: 10px;
  }

  .modal {
    width: 50vw;
    max-width: 600px;
    padding: 30px;
    font-size: 22px;
  }

  p, h3 {
    font-size: 1rem;
  }
}

/* Adjustments for very small screens like iPhone SE and iPhone 5 */
@media (max-width: 320px) {
  .modal {
    width: 90vw;
    max-width: 288px;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
  }

  .modal p, .modal h3 {
    font-size: 0.75rem;
  }

  .instruction-button {
    top: 5px;
    right: 5px;
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}